.reveal ul {
    list-style-type: none;
}
.reveal ul ul {
    list-style-type: none;
}

.reveal .slides section .fragment:not(.current-fragment) {
    opacity: 0.3;
    display: inline;
    }
.reveal .slides section .fragment.current-fragment {
    opacity: 1;
    display: inline;
}

.print-pdf .reveal .slides section .fragment {
    opacity: 1 !important; /* Make all fragments fully visible */
    display: block !important; /* Ensure fragments are displayed as block elements */
}